/*
 *
 * thanks to Rich Finelli
 *
 * */
/* micro clear fix */
.grouping:before,
.grouping:after {
    content: " ";
    display: table;
}
.grouping:after {
    clear: both;
}
img, iframe, video, object {
    max-width: 100%;
}
strong, b {
    font-weight: bold;
}
